<select id="bss-b2b-discount-select">
  <option value="">-- Chọn discount --</option>
</select>

<script>
  window.BSS_B2B__PRODUCT_DATA__ = {
    productTags: {{ product.tags | json }},
    rules: {{ app.metafields.rule_list.product_rule }},
    originalPrice: {{ product.price | money_without_currency | json }},
    moneyFormat: {{ shop.money_format | json }},
    currency: {{ shop.currency | json }}
  };
</script>

<script src="{{'hello.js' | asset_url}}" defer></script>
<div id="bss-b2b-product-price-discount"></div>
{% schema %}
{
  "name": "Discount Choose",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product" },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}