{% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value | round %}
<span style="color:{{ block.settings.colour }}">
  {% render 'stars', rating: avg_rating %}
</span>
{% if avg_rating >= 4 %}
  <br>
  <img src="{{ "thumbs-up.png" | asset_img_url: '15x' }}" height="15" width="15" loading="lazy">
  {{ 'ratings.home.recommendationText' | t }}
{% endif %}

<script src="{{'hello.js' | asset_url}}" defer></script>
<div id="shop-url" style="display:none">{{shop.url| json}}</div>
{% assign productTag = product.tags| json %}
<div id="product-tag" style="display:none" >{{productTag}}</div>
{% assign rules = app.metafields.rule_list.product_rule | parse_json| parse_json%}
<div id="rules-data" style="display:none">
  {{ rules }}
</div>


{% schema %}
{
  "name": "Star Rating",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product" },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

